@font-face {
    font-family: "Casino";
    src: url("../assets/fonts/Casino3D.ttf");
}


* {
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(90deg, rgba(81,2,158,1) 0%, rgba(147,9,12,1) 100%);
    font-family: "Casino";
    font-size: 20px;
}

.div-center {
    display: flex;
    justify-content: center;
}in-hgeimin    

    
    
min-hgeimin    

    
min-hgeimin    

    

    

    

    

    
min-hgeimin    

    
min-hgeimin    

    
min-hgeimin    

    
min-hgeimin    

    
min-hgeimin    

    
min-hgeimin    

    
min-hgeimin    

    

    

    

    

    
min-hgeimin    

    
min-hgeimin    

    
min-hgeimin    

    
min-hgeimin    

    
min-hgeimin    

    
min-hgeimin    

    

    

    

    

    
}in-hgeimin    

    
    
min-hgeimin    

    
min-hgeimin    

    

    

    

    

    
min-hgeimin    

    
min-hgeimin    

    
min-hgeimin    

    
min-hgeimin    

    
min-hgeimin    

    
min-hgeimin    

    
min-hgeimin    

    

    

    

    

    
min-hgeimin    

    
min-hgeimin    

    
min-hgeimin    

    
min-hgeimin    

    
min-hgeimin    

    
min-hgeimin    

    

    

    

    

    
}

#connexion {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}