@font-face {
    font-family: "Casino";
    src: url("../assets/fonts/Casino3D.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Bold.ttf");
}

* {
    margin: 0px;
    padding: 0px;
}